nav.navigation-bar
    ul.navigation-bar__list.container.d-flex
        li.navigation-bar__list-item
            a(href="#")
                i(class="fa-solid fa-bars")
                span.ms-4 Danh mục sản phẩm
        li.navigation-bar__list-item
            a(href="#") Trang chủ
        li.navigation-bar__list-item
            a(href="#") Thanh toán
        li.navigation-bar__list-item
            a(href="#") Trả góp
        li.navigation-bar__list-item
            a(href="#") Chính sách giao hàng
        li.navigation-bar__list-item
            a(href="#") Liên hệ
        li.navigation-bar__list-item
            a(href="#") Thư viện