mixin ProductInCart()
    div(class="product-cart-container " + attributes.class)
        tr 
            td
                figure
                    img(src=attributes.imgLink, alt="Error while loading image...", width="205px", class="img-responsive")
            td
                p(style="-webkit-box-orient: vertical;", class="product-title")= attributes.title
            td test 
            td test 
            td test
            td test