mixin SectionTitle()
    .section-title.d-flex.justify-content-between.align-items-center.pb-1
        .section-title__text.text-uppercase.rounded-1.fw-bold.p-4= attributes.title
        .section-title__menu
            ul.fs-4
                li
                    a(href="#", class="d-inline-block p-3") Thương hiệu laptop 
                    a(href="#", class="d-inline-block p-3") Trending
                    a(href="#", class="d-inline-block p-3") Laptop Acer
                    a(href="#", class="d-inline-block p-3") Laptop Gigabyte
                    a(href="#", class="d-inline-block p-3") Laptop Dell
                    a(href="#", class="d-inline-block p-3") Xem tất cả

