extends ../layout 
block scss
    style 
        include ./login.css
block content
    h1 login page
    div.container
        lable user name 
        input(type="text")
        lable password
        input(type="password")

