extends ../layout 
block scss
    //- include ./login.scss
block content
    h1 login page
    div.container
        lable user name 
        input(type="text")
        lable password
        input(type="password")

