@use '../abstracts/_colors.scss' as color;
@use '../abstracts/_mixins.scss' as mixins;

.navigation-bar {
    background-color: #393a44;
    user-select: none;
    &__list {
        &-item {
            a {
                color: #fff;
                padding: 2rem 3rem;
                display: inline-block;
            }
            &:first-child {
                background-color: color.$secondary-color;
                a {
                    @include mixins.Typography(1.8rem, 600);
                }
            }
            &:not(:first-child) {
                a {
                    text-transform: uppercase;
                    &:hover {
                        color: color.$primary-color;
                    }
                }
            }
        }
    }
}
