.dot {
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ccc;
    margin: 0 10px;
}

.avatar {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    color: white;
    font-weight: 500;
}
