@use '../abstracts/_colors.scss' as color;
@use '../abstracts/_animation.scss' as animation;

.product-container {
    .product-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-transform: capitalize;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .product-price {
        margin-top: 5px;
        display: flex;
        line-height: 2.5rem;
        flex-wrap: wrap;
    }
    .product-discount {
        background: url('https://bizweb.dktcdn.net/100/329/122/themes/835213/assets/label_sale_50a.png?1652497057275')
            no-repeat;
        width: 43px;
        height: 35px;
        margin-top: 10px;
        color: white;
        text-align: center;
        padding-top: 6px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .product-actions {
        @include animation.animate(fadeIn);
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: fit-content;
        display: none;
        padding-right: 2rem;
        background-color: white;
        &__purchase,
        &__preview {
            background-color: color.$primary-color;
            padding: 0.8rem 1rem;
            border-radius: 4px;
            text-align: center;
            color: white;
        }
        &__preview {
            margin-left: 10px;
            cursor: pointer;
            user-select: none;
        }
    }
    &:hover {
        .product-title {
            color: color.$primary-color;
        }
        .product-actions {
            display: flex;
            justify-content: space-between;
        }
    }
}

.product-price__discounted {
    color: color.$primary-color;
    margin-right: 10px;
    font: {
        weight: 700;
        size: 1.8rem;
    }
}

.product-price__original {
    color: #888;
    text-decoration: line-through;
    font: {
        size: 1.4rem;
    }
}
.currency {
    vertical-align: top;
    font-size: 80%;
    text-decoration: underline;
}
