extends ../../layouts/main

block content
    .container
        .row.my-5
            .col-9
                .main-banner
                    a(href="#")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/slider1_1.jpg?1649651937225", alt="banner", width="100%")
                .main-banner-indicators.row.row-cols-5.shadow-sm.m-0
                    .main-banner-indicators__item.active.col.h-4 HP Victus 16
                    .main-banner-indicators__item.col.h-4 LAPTOP INTEL NUC M15
                    .main-banner-indicators__item.col.h-4 MSI MEGA SALE
                    .main-banner-indicators__item.col.h-4 SAMSUNG SALE
                    .main-banner-indicators__item.col.h-4 ASUS ROG
            .col-3
                .aside-banner
                    a(href="#", class="mb-3 d-inline-block")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/banner_slider_1.jpg?1649651937225", alt="san pham hot 1", width="100%")
                    a(href="#")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/banner_slider_2.jpg?1649651937225", alt="san pham hot 2", width="100%")
                