extends ../../layouts/main

block content
    .container
        .row.my-5
            .col-9
                .main-banner
                    a(href="#")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/slider1_1.jpg?1649651937225", alt="banner", width="100%")
                .main-banner-indicators.row.row-cols-5.shadow-sm.m-0
                    .main-banner-indicators__item.active.col HP Victus 16
                    .main-banner-indicators__item.col LAPTOP INTEL NUC M15
                    .main-banner-indicators__item.col MSI MEGA SALE
                    .main-banner-indicators__item.col SAMSUNG SALE
                    .main-banner-indicators__item.col ASUS ROG
            .col-3
                .aside-banner
                    a(href="#", class="mb-3 d-inline-block")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/banner_slider_1.jpg?1649651937225", alt="san pham hot 1", width="100%")
                    a(href="#")
                        img(src="https://bizweb.sapocdn.net/100/329/122/themes/835213/assets/banner_slider_2.jpg?1649651937225", alt="san pham hot 2", width="100%")
        section.promoted-section
            h2.text-uppercase.promoted-section__title Khuyến mãi hot
            .products-list.row
                +Product(class="col-sm-2", imgLink="https://bizweb.dktcdn.net/100/329/122/products/laptop-msi-prestige-14-a11sc-203vn.png?v=1642654754000", title="Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)", discountedPrice="24,290,000", originalPrice="33,900,000")    
                +Product(class="col-sm-2", imgLink="https://bizweb.dktcdn.net/100/329/122/products/laptop-hp-probook-430-g8-614k9pa.png?v=1649239194000", title="Laptop HP Probook 430 G8 614K9PA (i5-1135G7, Iris Xe Graphics, Ram 8GB, SSD 256GB, 13.3 Inch IPS FHD)", discountedPrice="18,690,000", originalPrice="22,900,000")    
                +Product(class="col-sm-2", imgLink="https://bizweb.sapocdn.net/thumb/medium/100/329/122/products/laptop-gaming-gigabyte-g5-kd-52vn123so.png?v=1651658984000", title="Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)", discountedPrice="24,290,000", originalPrice="33,900,000")          
                +Product(class="col-sm-2", imgLink="https://bizweb.sapocdn.net/thumb/medium/100/329/122/products/laptop-lenovo-yoga-slim-7-pro-14ihu5-o-82nh00aevn.png?v=1651221446000", title="Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)", discountedPrice="24,290,000", originalPrice="33,900,000")          
                +Product(class="col-sm-2", imgLink="https://bizweb.dktcdn.net/100/329/122/products/laptop-msi-prestige-14-a11sc-203vn.png?v=1642654754000", title="Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)", discountedPrice="24,290,000", originalPrice="33,900,000")          
                +Product(class="col-sm-2", imgLink="https://bizweb.dktcdn.net/100/329/122/products/laptop-msi-prestige-14-a11sc-203vn.png?v=1642654754000", title="Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)", discountedPrice="24,290,000", originalPrice="33,900,000")          
                
                